/* Stylesheet */
footer {
	background: #3C0
}

p {
        font-family: 'Noto Sans', sans-serif;
}

body {
	background: url("../img/bg.png");
}

#logo {
        width: 50%;
}

li {
  background: none;
float: left; 
  height: 50px;
  line-height: 50px;
  list-style: none;
	margin: 0 20px 0 10px;
  text-align: right;
  width: 150px;
}

a {
  background: none;
  color: #fff;
display: block;
  text-transform: uppercase;
  text-decoration: none;
  
}

#google a:hover {
  background: url("../img/chrome.png") no-repeat left center;
  
}

#mozilla a:hover {
  background: url("../img/firefox.png") no-repeat left center;
  
}

#apple a:hover {
  background: url("../img/safari.png") no-repeat left center;
  
}

#opera a:hover {
  background: url("../img/opera.png") no-repeat left center;
  
}

#microsoft a:hover {
  background: url("../img/ie.png") no-repeat left center;
  
}
/* Help Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}